<mat-card>
  <form>
    <mat-form-field>
      <input type='text'
         placeholder='Stationssuche...'
         #searchTerm
         (keyup)='handleKeyEvent(searchTerm.value)'
         matInput [matAutocomplete]='auto'>
  <mat-icon matSuffix>search</mat-icon>

</mat-form-field>
  </form>
<mat-autocomplete #auto='matAutocomplete'
                  (optionSelected)=
                    'handleSelectedStation($event.option.value)'>
  <mat-option *ngFor='let s of foundStations'
              [value]= 's'>{{ s.name }}
  </mat-option>
</mat-autocomplete>
</mat-card>
