<nav mat-tab-nav-bar backgroundColor='accent' color='primary'>
  <a mat-tab-link fxHide.lt-sm
     routerLink='/home'
     routerLinkActive #homeTab='routerLinkActive'
     [active]= 'homeTab.isActive'>
    Home
  </a>
  <a mat-tab-link
     routerLink='/stations/name'
     routerLinkActive #stationenTab='routerLinkActive'
     [active]= 'stationenTab.isActive'>
    Name
  </a>

  <a mat-tab-link
     routerLink="/stations/temperature"
     routerLinkActive #tempTab='routerLinkActive'
     [active]="tempTab.isActive">
    Temperatur
  </a>

  <a mat-tab-link
     routerLink="/stations/precipitation"
     routerLinkActive #niederTab='routerLinkActive'
     [active]="niederTab.isActive">
    Niederschlag
  </a>

  <a mat-tab-link
     routerLink="/stations/airpressure"
     routerLinkActive #druckTab='routerLinkActive'
     [active]="druckTab.isActive">
    Luftdruck
  </a>
</nav>
<router-outlet></router-outlet>
